.card{
    width: 16%;
    height: 90%;
    margin: 0 auto;
    position: relative;
    perspective: 1000px;
    float: left;
    .front{

    }
    .back{

    }
    img{
        &:hover{
            border: 1px solid black;
        }
        width: 85%;
    }
}