body{
  //base styles
  font-family: 'Heebo', sans-serif;
  background: radial-gradient(circle, rgba(9,121,55,1) 90%, rgba(2,0,36,1) 100%);
  .center{
    text-align: center;
  }
  .nav-link{
    background-color: transparent;
    border: none !important;
    &:hover{
      background-color: transparent;
    }
    &:active, &:focus{
      background-color: transparent !important;
      box-shadow: none !important;
    }
  }
  //general container styles
  .sign-in-container, .generic-container{
    background-color: #9c9c9c;
    width: 450px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    border: 3px groove white;
    padding: 10px;
    form{
      text-align: left;
      .form-control {
        width: 80%;
        margin: 0 auto;
        &.form-check-input{
          margin-left: 10%;
        }

      }
      label{
        margin-left: 10%;
      }
      button{
        text-align: center;
      }
    }
    &.create-container{
      .form-check-input{
        margin-left: 6%;
      }
      .form-placeholder{
        height: 86px;
      }
      button{
        margin: 0 5px;
      }
    }
    .hr-holder{
      hr{
        width: 90%;
        display: inline-block;
        border: none;
        border-top: 1px solid black;
        overflow: visible;
        text-align: center;
        &:after{
          background: #9c9c9c;
          content: 'or';
          padding: 0 4px;
          position: relative;
          top: -15px;
        }
      }
      margin: 10px 0;
    }
    .sign-in-button{
      width: 185px;
    }
    .google-sign-in{
      width: 185px;
      height: 40px;
      background-image: url('../../public/images/google_light_normal.png');
      background-position: -3px -3px;
      border: 0;
      border-radius: 3px;
      &:active{
        background-image: url('../../public/images/google_light_focus.png');
      }
    }
  }
  //lobby styles
  #lobby{
    margin-top: -10%;
    height: 80%;
  }
  .button-container{
    height: 100%;
    width: 50%;
    margin: auto;
    display: grid;
    margin-top: 15%;
    .lobby-button{
      font-size: 40px;
      margin: auto;
      width: 75%;
      height: 75%;
      &.sm{
        height: 40%;
        margin-top: 0;
      }
    }
  }
  //friends list styles
  .friends-list{
    tr{
      td{
        border-top: 1px solid #859cb3;
      }
    }
    tr:nth-child(1){
      td{
        border-top: none;
      }
    }
    .friend-status{
      width: 10px;
    }

  }
}